.Busca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.Busca-input {
  width:100%;
  padding: 13px;
  border-radius: 14px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 30px;
  border-style: none;
  background-color: #EFEFEF;
}

.Busca-button {
  background: none;
  border: none;
  margin-left: -50px;
  cursor: pointer;

}

.Busca-icon {
  width: 20px;
  height: 20px;
  
  }


 